/* home */

#main-cover {
    background-image: url("../assets/img/old-books.jpg") ;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#main-cover h2 {
    color: #8B0000;
    font-size: 72px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 6px rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

#main-cover .find_margin {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 3em;
}

#main-cover .find_margin input[type="text"] {
    padding: 8px;
    width: 40%;
}

#main-cover .find_margin input[type="submit"] {
    margin-left: 24px;
    padding: 10px;
    color: white;
    background-color: #8B0000;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    transition: transform 0.5s;
}

#main-cover .find_margin input[type="submit"]:hover {
    transform: scale(1.2);
}

#slider-new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#slider-new h2 {
    font-weight: 800;
    color: #8B0000;
    padding-bottom: 20px;
}

.slider-container{
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    width: 80vw;
    max-width: 720px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.slider-container .slider{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 86%;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.slider-container .slider p{
    color: #888;
    text-align: justify;
    font-size: 15px;
}

.slider-container .slider img{
    width: 150px;
    height: 231px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.slider-container .slider h3{
    color: #333;
    font-size: 15px;
    margin-bottom: 2px;
    text-align: center;
}

.slider-container .slider h6{
    color: #777;
    font-weight: 500;
    text-align: center;
    font-size: 12px;
}

.slider-container button{
    font-size: 28px;
    height: 48px;
    width: 48px;
    background: #fff;
    border: none;
    position: absolute;
    color: #8B0000;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(78, 17, 17, 0.814);
}

.slider-container button#next {
    right: -26px;
}

.slider-container button#prev {
    left: -26px;
}

.swiper {
    height: 100vh;
    width: 100%;
}

.wrapper, .slide {
    position: relative;
    width: 100%;
    height: 100%;
}
  
.slide {
    overflow: hidden;
}

.slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.image-data span.textSwiper {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #8B0000;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}

a.button:hover {
  color: #fff;
  background-color: #8B0000;
}

.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.nav-btn::before, .nav-btn::after {
  font-size: 25px;
  color: #fff;
}

.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

#partners-block {
    width: 100%;
    height: auto;
    padding-top: 4em;
}

.partners-article {
    margin-bottom: 4em;
}

.partners-title {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: 2px 2px 3px gray;
}
.partners-span {
    color: #8B0000;
}

.partners-text {
    font-size: 1.2em;
    margin-bottom: 3em;
    text-align: center;
    width: 100%;
}

.partners-icon {
    text-align: center;
    margin-bottom: 4em;
}

.partners-icon img { 
    width: 15em;
}

/* about */

.about-container {
    background-image: url(../assets/img/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.about-container h1, .about-container h3 {
    display: flex;
    justify-content: right;
    padding-top: 50px;
    padding-right: 10%;
}

.about-container h1 {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 3px 3px 4px #8B0000;
}

.about-container h3 {
    color: #ffffff;
    text-shadow: 3px 3px 4px #8B0000;
}

.history-block h1 {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.history-block p {
    padding: 30px;
    text-align: justify;
    font-size: 24px;
}
.location-container {
  height: auto;
  width: 100%;
  padding: 6em 7em 6em 7em;
}

.contacts-article {
  text-align: center;
}

.contacts-name {
  font-size: 2em;
  font-weight: bold;
  color: #8B0000;
  margin-bottom: 1em;
}

.block-address {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  justify-content: center;
}

.address-container {
  padding: 3em;
  margin-right: 2em;
}

.addressContainer svg {
  transition: transform 0.5s; 
}

.address-container svg:hover {
  transform: scale(1.2); 
}

.address-container h2, .address-container h3 {
  margin-bottom: 0.7em;
  font-size: 1.4em;
  font-weight: bolder;
}

.address-container h3 {
  padding-bottom: 1em;
}

.top-add {
  font-weight: bold;
  text-transform: uppercase;
}

.address-list li {
  margin-bottom: 1em;
  font-size: 1em;
}

.map-div {
  text-align: center;
  width: 100%;
}

.map-div iframe {
  width: 80%;
}

/* news */

#news-container {
    padding: 5px;
}

#news-container h1 {
    text-transform: uppercase;
    color: #8B0000;
    text-shadow: 3px 3px 4px #4646464f;
    text-align: center;
    margin-bottom: 20px;
    background-image: url(../assets/img/paper_fon.jpg);
    padding: 10px;
}
.news-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.news-block img {
  width: 40%;
}

@keyframes animation-span
{
    from { color: black; }
    to {color: #8B0000; }
}

.animation-span {
    animation: animation-span 2s infinite;
}

.news-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #8B0000;
    margin: 0 30px 0 30px;
}

.text-column {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
}

.text-column h2 {
  color: #8B0000;
}

.text-column ol {
  text-align: justify;
}

.text-column li {
  margin-bottom: 10px;
}

.text-column h3 {
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 20px;
}

.text-column p {
  font-style: italic;
  margin-top: 20px;
}

.download-form {
  margin: 50px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #8B0000;
  border: none;
  border-radius: 5px;
  transition: transform 0.5s;
}

.download-form:hover {
  transform: scale(1.2);
}

.download-form a {
  text-decoration: none;
  color: #fff;
}

#news-api-container {
  max-width: 80%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #8B0000;
  transition: all 0.3s ease;
}

#news-api-container:hover{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#news-api-container h1{
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.selection-container, .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.choose-label {
  font-size: 16px;
  margin-right: 10px;
  color: #fff;
}

select,
input[type="text"]{
  padding: 8px;
  flex: 1;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;
}

#fetchCategory, .search-btn {
  background-color: #000;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 15px;
  transition: all 0.3s ease;
}

.newsItem{
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.newsItem:last-child{
  border-bottom: none;
}

.newsImage{
  flex: 1;
  max-width: 300px;
}

.newsImage img{
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.newsContent{
  flex: 2;
  margin-left: 20px;
}

.newsContent .info{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #888;
  margin-bottom: 12px;
}

.newsContent .info h5{
  margin: 0;
  font-weight: 400;
}

.newsContent h2{
  font-size: 18px;
  color: #ffffff;
  margin-top: 0;
  max-height: 44px;
  overflow: hidden;
}

.newsContent p{
  color: #ffffff;
  margin: 10px 0 20px;
  font-size: 14px;
  max-height: 33px;
  overflow: hidden;
}

.newsContent a{
  background-color: #000;
  color: #fff;
  padding: 8px 14px;
  font-size: 13px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* other page */

#app-container {
  max-width: 80%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #8B0000;
  color: #fff;
}


@media all and (max-width: 1180px) {
  .news-text-container {display: block; margin: 0; padding: 30px;}
}


@media screen and (max-width: 768px) {

  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}

@media screen and (max-width: 720px) {
    
    .slider-container{height: auto; padding: 20px 0 20px 0;}

    .slider-container .slider{
        flex-direction: column;
    }

    .slider-container .slider p{
        font-size: 13px;
    }
}

@media all and (min-width: 280px) and (max-width: 768px) {

}